<a href="/users/{{userId}}"><< All Collections</a>

<h1>{{collection.name}}</h1>
<a href="/users/{{userId}}/collections/{{collection._id}}/edit">Edit</a>
<ul>
{{#each collection.items}}
<li><a href='/users/{{../userId}}/collections/{{../collection._id}}/items/{{this._id}}'>{{this.name}}</a></li>
{{/each}}
</ul>
<a href='/users/{{userId}}/collections/{{collection._id}}/items/new'>Add Item</a>