<h1>Edit Item</h1>

<form action='/users/{{userId}}/collections/{{collectionId}}/items/{{item._id}}?_method=PUT' method="POST">
    <div>Name: <input type='text' name='name' value='{{item.name}}'></div>
    <div>Reference: <input type='text' name='refAddress' value='{{item.refAddress}}'></div>
    <div>From: <input type='text' name='origin' value='{{item.origin}}'></div>
    <div>Collected in: <input type='number' name='getYear' value={{item.getYear}}></div>
    <div>Notes: <input type='text' name='note' value='{{item.note}}'></div>
    <div>Was it a gift? <input type='radio' name='isGift' value='true'> <label>Yes</label> <input type='radio' name='isGift' value='false'> <label>No</label></div>
    <div><input type='submit' value="Update Item"></div>
    <script>
        const radios = document.getElementsByName('isGift')
        if ({{item.isGift}} === true) {
            radios[0].setAttribute('checked', 'true')
        } else {
            radios[1].setAttribute('checked', 'true')
        }

    </script>
</form>

<button class="edit" id="delete">Delete</button>

<a href="/users/{{userId}}/collections/{{collectionId}}/items/{{item._id}}">Cancel</a>

<!-- delete modal -->
<div class="modal closed" id="delete-modal">
    <h4>Are you sure you want to delete this item?</h4>

<form action="/users/{{userId}}/collections/{{collectionId}}/items/{{item._id}}?_method=DELETE" method="POST">
<div><input id="delete" type='submit' value='Delete Item'></div>
</form>
</div>

<div class="modal-overlay closed" id="delete-modal-overlay">
</div>