<h1>{{user.name}}'s Collections</h1>
<a href="/users/{{user._id}}/edit">Edit</a>

<div>
    {{#each user.collections}}
    <li><a href="/users/{{../user._id}}/collections/{{this._id}}">{{this.name}}</a></li>
    {{/each}}
</div>

