<a href="/users">
    << All Collectors</a> <h1>{{user.name}}'s Collections</h1>
        <a href="/users/{{user._id}}/edit">Edit</a>

        <div>
            {{#each user.collections}}
            <div class="outer">
                <a href="/users/{{../user._id}}/collections/{{this._id}}">
                    <div class="collectionBox" style="background-image: url({{this.firstRefAddress}})">
                        <span>{{this.name}}</span>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>

        <a href="/users/{{user._id}}/collections/new"><button>Add Collection</button></a>